

footer{
    padding-left: 130px;
    padding-right: 90px;
    display: flex;
}
.genera_imgs{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    display: flex;
}

.genera_imgs1{
    position: relative;
    padding-left: 14px;
    padding-right: 70px;
    //margin-right: 0px;
}
.general_img1{
    width: 50%;
   // display: flex;
   float: left;
}

.genera_imgs2{
    position: relative;
    padding-left: 180px;
    padding-right: 100px;
    //margin-right: 0px;
}

.general_img2{
    width: 50%;
    //display: flex;
   // padding: 2px 4px;
    //margin: auto;
    float: left;

}

.genera_imgs3{
    position: relative;
   padding-left: 20px;
    padding-right: 80px;
    //padding-bottom: -360px;
    //margin-right: 0px;
}

.general_img3{
    width: 50%;
    //display: flex;
    //margin: auto;
    float: left;
}