<footer class="footer">
    <div class="genera_imgs">
        <div class="genera_imgs1">
            <img src="../../../assets/images/image-retro-pcs.jpg" 
        alt="" class="general_img1"
        />
        <h1>01</h1>
        <h4>Reviving Retro PCs</h4>
        <p>What happens when old PCs are given modern upgrades?</p>
        </div>
        <div class="genera_imgs2">
            <img src="../../../assets/images/image-top-laptops.jpg" 
            alt="" class="general_img2"
            />
            <h1>02</h1>
            <h4>Top 10 Laptos of 2022</h4>
            <p>Our best picks for various needs and buggets.</p>
        </div>
    
        <div class="genera_imgs3">
            <img src="../../../assets/images/image-gaming-growth.jpg" 
            alt="" class="general_img3"
            />
            <h1>03</h1>
            <h4>The Growth of Gaming</h4>
            <p>How the pandemic has sparked fresh opportunities</p>
        </div>
    </div>

</footer>
