@use '../../app.component.scss';

body{
    //background-color: rgb(209, 185, 190);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    
}

div {
    font-family: var(--font-main);
    font-size: 15px;
  }
  .nav {
    display: flex;
    padding: 2% 5%;
    width: 100%;
  }
  
  .nav .div-item {
    font-weight: 700;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    width: 45%;
  }
  
  .nav .div-item a {
    text-decoration: none;
    color: hsl(240, 8%, 70%);
    &:hover{
      cursor: pointer;
      color: hsl(8, 70%, 65%);
    }
    
  }

  img{
    width:80%;
  }

  
