<!--<link rel="stylesheet" href="menu.component.scss">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<body>

    <nav class="nav">
        <div>
          <img src="../../../assets/images/logo.svg" />
        </div>
        <div class="div-item">
            <a class="div-item">Home</a>
            <a class="div-item">New</a>
            <a class="div-item">Popular</a>
            <a class="div-item">Trending</a>
            <a class="div-item">Categories</a>
        </div>
      </nav>
    
</body>
