.cuerp-prin {
    min-height: 67vh;
    position: relative;
    margin-left: 95px;
    margin-right: 525px;


   /* &_img {
        width: 100%;
        display: block;
        max-width: 400px;
        margin: 0 auto; //centrar en caso que rebase el ancho

       
     }*/

}

img {
    width:100%;
    display: block;
    max-width: 700px;
    margin: 0 auto; //centrar en caso que rebase el ancho
    
}

.general_title{
    font-family: var(--font-main);
}
.general_p{
    font-family: var(--font-main);
    line-height: 1.5; 
    position: relative;
    width: 370px;
    height: 30px;
    font-size: var(--Font-size-paragraph);
    /*margin-left: 43%;
    margin-bottom: 0;
    margin-top: -9%;
    margin-right: 0;*/

    left: 47%;
    top: -55px;
 }

 .general_texts{
    //margin: 0 2em;
    line-height: 1.0; 
    position: relative;
    width: 260px;
    height: 70px;
    font-size:  var(--Font-size-text);
    left: 11px;
    top: 9.5px;
 }

 .readmore{
     background-color: hsl(9, 81%, 60%);
     position: relative;
     width: 10em;
     height: 33px;
     top: 29%;
 }

 .readme{
     color: var(--Off-white);
     text-align: center;
     position: relative;
     top: 7px;
 }