
<header class="cuerp-prin">
    <section class="general_container">
      <div class="general_picture">
        <img src="../../../assets/images/image-web-3-desktop.jpg" 
        alt=""
        class="general_img"
        />
      </div>
      <div class="general_texts">
        <h1 class="general_title">The Bright Future of Web 3.0?</h1>

      </div>
      <div class="general_p">  
      <p class="general_paragraph" >
       We dive into the next evolution of the web that claims to put the power of the platforms back into hands of the people. But is it really fulfiling its promise? 
      </p>
      <div class="readmore">
        <p class="readme">README MORE</p>
      </div>
    </div>
    </section>
  </header>