.cuerp-prin {
    min-height: 67vh;
    position: relative;
    margin-left: 125px;
    margin-right: 525px;


   /* &_img {
        width: 100%;
        display: block;
        max-width: 400px;
        margin: 0 auto; //centrar en caso que rebase el ancho

       
     }*/

}

img {
    width:100%;
    display: block;
    max-width: 655px;
    margin: 0 auto; //centrar en caso que rebase el ancho
}

.general_title{
    font-family: var(--font-main);
}
.general_p{
    font-family: var(--font-main);
    line-height: 1.5; 
    //margin: 0 10em; 
    position: relative;
    width: 370px;
    height: 30px;
    font-size: var(--Font-size-paragraph);
    margin-left: 43%;
    margin-bottom: 0;
    margin-top: -9%;
    margin-right: 0;
 }

 .general_texts{
    //margin: 0 2em;
    line-height: 1.0; 
    position: relative;
    width: 260px;
    height: 70px;
    font-size:  var(--Font-size-text);
    margin-left: 3%;
    margin-bottom: 0;
    margin-top: 3%;
    margin-right: 0;
 }

 .readmore{
     background-color: hsl(9, 81%, 60%);
     width: 11em;
     height: 35px;
     margin-top: 2%;
 }

 .readme{
     color: var(--Off-white);
     text-align: center;
     margin-top: 6px;
 }